:root {
    color-scheme: light dark;

    /* Typography */
    --font: '', Georgia, serif;
    --font-nav: '', system-ui, -apple-system, sans-serif;
}

/* light mode */
@media (prefers-color-scheme: light) {
    :root {
        --bg: rgb(245 242 235);
        --surface: rgb(255 255 255);
        --text: rgb(48 46 41);
        --text-muted: rgb(115 111 102);

        --accent: rgb(180 110 0);
        --border: rgb(220 216 208);

        --yes: rgb(21 128 61);
        --no: rgb(185 28 28);
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: rgb(37 37 37);
        --surface: rgb(48 48 48);
        --text: rgb(209 213 219);
        --text-muted: rgb(156 163 175);

        --accent: rgb(253 224 71);
        --border: rgb(64 64 64);

        --yes: rgb(74 222 128);
        --no: rgb(248 113 113);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

html {
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--bg);
    color: var(--text);
    font-family: var(--font);
}

main {
    flex: 1 0 auto;
}

.hero-title {
    & p {
        color: var(--text-muted);
        line-height: 1.65;
        margin-bottom: 1.75rem;
        font-weight: 300;

        & strong {
            font-weight: 600;
        }
    }

    & h1 em {
        font-style: italic;
        color: var(--accent);
    }
}

footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid var(--border);
    padding: 1.75rem 2rem;
    justify-content: space-between;
    max-width: 860px;
    font-family: 'IBM Plex Mono', monospace;

    .footer-right {
        display: flex;
        gap: 0.5rem;
        font-size: 0.75rem;

        & a {
            color: var(--text);
        }

        & a:hover {
            color: var(--accent)
        }

        a:not(:last-child)::after {
            content: ' ·';
            /* middle dot */
            color: var(--text);
        }
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation: none;
    }
}
